.lobby-container {
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lobby-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #3498db;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}